
<div [style] = "" class="tab"> 
<!-- search bar --> 

<p-table #tablesearch [value]="products"[globalFilterFields]="['name']" [paginator]="true" [rows]="4" pagelinks="3">
    
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
        <h4 ><img src="../../assets/clipboard.svg" id="folderImg"><b>
Dossiers</b></h4>

            <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(tablesearch)"></button> -->
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search fa-fw" style="color: white;"></i>
                <input pInputText type="text"
                 (input)="tablesearch.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                  id="search-box" onclick="this.placeholder = ''"
                  onblur="this.placeholder = 'Recherche'"/>
            </span>
        </div>
    </ng-template> 

    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" style="color: #3184FC;
            ">Nom <p-sortIcon field="name"></p-sortIcon></th>
            <th style="color: #3184FC;
            ">Identifiant</th>
            <th style="color: #3184FC;
            ">Date du sinistre </th>
            <th  style="color: #3184FC;
            ">Num du dossier</th>
            <th pSortableColumn="etat_dossier" style="color: #3184FC;
            " >Etat du dossier <p-sortIcon field="etat_dossier"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productsPrime>
        <tr (click)="sharedService.onPress()" class="tableRow">
            <td><p-avatar image="assets/user.png" shape="circle" id="client-img">
            </p-avatar>        {{productsPrime.name}}</td>
            <td>{{productsPrime.id}}</td>
            <td>{{productsPrime.date_sin}}</td>
            <td>{{productsPrime.num_dossier}}</td>
            <td>
                {{productsPrime.etat_dossier}}</td>
<td><img src="../../assets/Icon Button.svg"></td>
        </tr>
    </ng-template>
</p-table>
</div>
<app-side-list (clickeDateAsc) ="filterAsc($event)" (clickAttente)="filterAttenteDeConfirmation($event)"  (clickDateDes) ="filterDes($event)">

</app-side-list>
