
.flex-container {
  background-color: #3184FC;
  position: absolute;
  right: 10px;
  height: 100% ;
  width: 23%;
  border-style: 0;
  border-color: white;
  border-top-left-radius: 25px;
  margin-top: 40px;
  color: white;
}
table {
  color:white;
}
.user-top {
  margin: 20px;
   padding: 20px;
   margin-left: 10px;
   margin-top: 10px;
}
tr > * {
  vertical-align : middle;
border: none;

}
.user-name {
padding : 12px;
position: absolute;
left: 80px;
top: 20px;
}


td {
  border: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#userIcon {
  position: absolute;
right: 20px;
top: 40px;;
}
.folder {
  position: relative;
  margin: 10px;
  margin-top: 20px;
  background:#6d9fe6;
    padding:10px;
    border-radius: 40%;
    cursor: pointer;
}
.fline:hover {
  background-color: rgb(226, 218, 218);
  border-radius: 4%;
  color:  #3184FC;
}
.fa-chevron-right {
position: absolute;
right: 25px;
margin-top: 30px;
}
.fline {
  padding:3px;
}