/* You can add global styles to this file, and also import other style files */

html, body {
 height: 100%;
 width: auto; 
}

body {
 /* margin: 0; */
font-family: Roboto, "Helvetica Neue", sans-serif;
/* overflow: hidden; */
 height: 100%;
 padding-bottom: 20px;

 
}
/* html {
    overflow: scroll;
} */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

