<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <span class="top-logo"><img src="../../assets/Group 16191.svg"></span>

    <mat-nav-list class="list">
      <a mat-list-item href="#"><img src="../../assets/Icon awesome-home.svg"></a>

      <a mat-list-item href="#"><img src="../../assets/Messages.svg"></a>
      <a mat-list-item href="#"><img src="../../assets/🔣 Icon.svg"></a>
      <a mat-list-item href="#"><img src="../../assets/Settings.svg"></a>
      

    </mat-nav-list>
  <app-user></app-user>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

<!-- <nav class="navbar">
	<a href="#">Home</a>
	<a href="#">About</a>
	<a routerLink="/login">Login</a>
	<a href="#">Contact</a>
  <div class="animation start-home"></div>
</nav> -->
    </mat-toolbar>
    
  </mat-sidenav-content>
</mat-sidenav-container>
<nav class="nav-title">Dashboard Agent de Saisie</nav>

  <h3>Bienvenue <span style="color: #3184FC;
    ">Jihed</span></h3>
