:host ::ng-deep .mat-radio-outer-circle{
    border-style: none;
    opacity: 0.5;
  }
  
  .flex-container > mat-radio-group {
    display: flex;
    flex-direction: column;
  }
  .flex-container {
      background-color: #3184FC;
      position: absolute;
      right: 10px;
      height: 100%;
      width: 23%;
      border-style: solid;
      border-color: white;
      border-top-left-radius: 25px;
      margin-top: -30px;
      color: white;
      font-size: 13px;
      
      
    }
    mat-radio-group {
        margin-top: 60px;
        margin-left: 40px;
    }
    .tri {
     position: absolute;
     top: 20px; 
     left: 40px; 
     font-weight: 500;
     font-size: 14px;

    }
    .etats {
        position: absolute;
        top: 55px;
    }
    .filtre {
        position: absolute;
        top: 180px; 
        left: 40px; 
        font-weight: 500;
        font-size: 14px;
        
    }
    .etat-bottom {
        position: absolute;
        top: 185px;
    }
    #titleEtat {
        position: absolute;
        top: 220px;
        left: 55px;
        font-size: 14px;
    }
    .companie {
        position: absolute;
        bottom: 100px;
        left: 40px;
    }
    #titleCompanie {
        position: absolute;
        bottom: 160px;
        font-size: 14px;
        white-space: nowrap;
        left: 15px;
    }
    p-checkbox {
    margin-right: 10px;
    margin-bottom: 3px;
  
    }
    /* :host::ng-deep .ui-chkbox-icon {
    border-radius: 50px; 
    border: 1 px solid white;
    } */
.bottomButton {
    position: absolute;
    bottom: 50px;
  left: 90px;
 
}
.p-button-raised {
    background-color: rgb(247, 243, 243);
    color: #3184FC;
    font-weight: 600;
    height: 35px;

}
p-field-checkbox{
    border: 2px solid #ced4da;
    background: #ffffff;
    width: 20px;
    height: 20px;
    color: #495057;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

/* override primeng class*/
  ::ng-deep .p-checkbox .p-checkbox-box{

    width: 13px;    
    height: 13px;
    border: 1px solid #6d757a;
    border-radius: 50%;
}

.pi-sort-amount-down, .pi-sort-amount-up {
margin-left: 10px;
font-size: 0.8rem;
}
