
<div  *ngIf='!sharedService.display' class="flex-container">
  <div *ngIf="sharedService.display"><app-table-item></app-table-item></div>

  <span class="tri"><i class="fa fa-sort"></i>&nbsp;  Tri</span>
  <mat-radio-group name="date">
    <mat-radio-button value="date-des" (click) ="onFilterClickAsc()">Date <i class="fa fa-sort-down"></i></mat-radio-button>
    <mat-radio-button value="date-asc" (click) ="onFilterClickDes()">Date <i class="fa fa-sort-up"></i></mat-radio-button>
  </mat-radio-group>

  <mat-radio-group name="etat" class="etats">
    <mat-radio-button value="etat-des">Etat du dossier <i class="fa fa-sort-down"></i></mat-radio-button>
    <mat-radio-button value="etat-asc">Etat du dossier <i class="fa fa-sort-up"></i></mat-radio-button>
  </mat-radio-group>

  <span class="filtre"><i class="fa fa-filter"></i>&nbsp;  Filtre</span>
  <h6 id="titleEtat">Etat du dossier</h6>
  <mat-radio-group name="filter" class="etat-bottom">
    <mat-radio-button (click)='onFilterAttente()' value="attente">En attente de confirmation</mat-radio-button>
    <mat-radio-button (click)= 'onFilterTraitement()' value="traitement">En cours de traitement</mat-radio-button>
    <mat-radio-button  (click)= 'onFilterValideee()' value="validé">Validé</mat-radio-button>

  </mat-radio-group>
  <div class="companie">
    <h6 id="titleCompanie">Companie d'assurance</h6>
  <div class="p-field-checkbox">
      <p-checkbox name="group1" value="GAT" ></p-checkbox>
      <label>  GAT</label>
  </div>
  <div class="p-field-checkbox">
      <p-checkbox name="group1" value ="COMAR"></p-checkbox>
      <label>COMAR</label>
  </div>
  <div class="p-field-checkbox">
      <p-checkbox name="group1" value="AMI"></p-checkbox>
      <label >AMI</label>
  </div>
  <div class="p-field-checkbox">
      <p-checkbox name="group1" value="CARTE"></p-checkbox>
      <label>CARTE</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="STAR"></p-checkbox>
    <label >STAR</label>
</div>
<div class="p-field-checkbox">
  <p-checkbox name="group1" value="BIAT"></p-checkbox>
  <label>BIAT</label>
</div>
  
</div>
<div class="bottomButton">
<button pButton pRipple type="button" label="Réinitialiser" class="p-button-raised"></button>
</div>
</div>
