
<div  class="flex-container">
  <div *ngIf="display"><app-table-item></app-table-item></div>

  </div>
  <span class="tri"><i class="fa fa-sort"></i>&nbsp;  Tri</span>
  <mat-radio-group name="date">
    <mat-radio-button value="date-des">Date <i class="fa fa-sort-down"></i></mat-radio-button>
    <mat-radio-button value="date-asc">Date <i class="fa fa-sort-up"></i></mat-radio-button>
  </mat-radio-group>

  <mat-radio-group name="etat" class="etats">
    <mat-radio-button value="etat-des">Etat du dossier <i class="fa fa-sort-down"></i></mat-radio-button>
    <mat-radio-button value="etat-asc">Etat du dossier <i class="fa fa-sort-up"></i></mat-radio-button>
  </mat-radio-group>

  <span class="filtre"><i class="fa fa-filter"></i>&nbsp;  Filtre</span>
  <mat-radio-group name="filter" class="etat-bottom">
    <mat-radio-button value="attente">En attente de confirmation</mat-radio-button>
    <mat-radio-button value="traitement">En cours de traitement</mat-radio-button>
    <mat-radio-button value="validé">Validé</mat-radio-button>

  </mat-radio-group>
</div>
